intro to Pandas

Completed on Aug 6, 2025

check stackoverflow, McKinney's book of python for data analysis

in this lecture, we're going to explore the pandas series structure. by the end of this lecture u should be familiar w how to store & manipulate single dimensional indexed data in series object.

In [1]:
import pandas as pd

In [2]:
# u can create a series by passing in a list of values.
# when u do this, pandas automatically assigns an index starting w zero & sets the name of the series to None.

# one of the easiest ways to create a series is to use an array-like object, like a list.

students=['Alice','Jack','Amanda']

# now we call the series function in pandas & pass in the students

pd.Series(students)

0     Alice
1      Jack
2    Amanda
dtype: object

In [3]:
# the results is a Series object which is nicely rendered to the screen. we see the pandas automatically identifying the dtype in Series as "object" & 
# set the datatype parameter as appropirate.

In [4]:
numbers=[1,2,3]
pd.Series(numbers)

0    1
1    2
2    3
dtype: int64

In [5]:
# in python, we have the none dtype to indicate a lack of data
# pandas does some type conversion
# if we create a list of strings & we have 1 element, a None type, pandas inserts it as a None & uses the tyoe object for the underlying array.

students=['alice','jack',None]
pd.Series(students)

0    alice
1     jack
2     None
dtype: object

In [6]:
# if we create a list of numbers, integers or floats, and put in the None dtype, pandas automatically converts this to a special 
# floating poiont value as "NaN", which stands for "Not a Number."

numbers=[1,2,4,None]
pd.Series(numbers)

0    1.0
1    2.0
2    4.0
3    NaN
dtype: float64

In [7]:
# NaN is a different value
# pandas set the dtype of this series to floating point numbers instead of object or ints
# pandas represents NaN as a floating point number, and because integers can be typecast to floats, pandas went & converted integers to floats
# list of integers arent floats beacause there propbably is some missing data

In [8]:
# NaN isnt equilvalent to None

import numpy as np
np.nan==None

# when we try, h=the answer is always False

False

In [9]:
np.nan==np.nan # still false

False

In [10]:
# instead u need to use special functions to test for thr presence of a number
# such as the Numpy lib isnan()

np.isnan(np.nan)

np.True_

In [11]:
# a series can be created directly from dictionary data. when done, the index is automatically assigned to the keys of the dictionary that u
# provided & not just incrementing integers

student_scores={
    'Alice':'physics',
    'jack':'math',
    'amanda':'chem'
}

s=pd.Series(student_scores)
s

Alice     physics
jack         math
amanda       chem
dtype: object

In [12]:
# since its a string data, pandas set the data type of the series to "object"
# the index, the first column, is also a list of strings

# once the series has been created, we can get the index object using the index attribute
s.index

Index(['Alice', 'jack', 'amanda'], dtype='object')

In [13]:
# as u play w pandas u'll notice that a lot of things are implemented as numpy arrays, & have the dtype values set. 
# this is true of indices, & here pandas infered that we were using objects for the index

In [14]:
# the dtype of object is not just for strings, but for arbitrary objects. 
# eg create a more complex type of data, say, a list of tuples.

students=[('pedro','pascal'),('jack','kirby'),('matt','shackman')]
pd.Series(students)

0     (pedro, pascal)
1       (jack, kirby)
2    (matt, shackman)
dtype: object

In [ ]:
# each of the tuple is stored in the series object, & the type is object

In [16]:
# we can also separate the index creation from the data by passing in the index as a list epsecially to the series

s=pd.Series(['physics','chem','math'], index=['jack','alice','amanda'])
s

jack      physics
alice        chem
amanda       math
dtype: object

In [18]:
# so what if ur list of values in the index objet sre not aligned w the keys in ur 
# dictionary for creating the series? pandas overrides the automatic creation to favor only & all of the indices values that u provided 
# so it'll ignore from ur dictionary all keys which arent in ur index, & pandas will add None or NaN type values for any index value u provide,
# which isnt in ur dictionary key list


student_scores={
    'alice':'phy',
    'jack':'math',
    'amanda':'chem'
}
s=pd.Series(student_scores, index=['Alice','molly','sam'])
s

Alice    NaN
molly    NaN
sam      NaN
dtype: object

in this lecture, we've explored the pandas Series data structure.
u've seen how to create a series from lists & dictionaries, how indices work on data work, and the way that pandas typecasts data including missing values.